/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #002252;
    padding: 30px;
    flex-direction: column;
}

.hero-image {
    position: absolute;
    top: auto;
    left: auto;
    width: 95%; /* Adjust width of the image */
    height: 95%; /* Adjust height of the image */
    background: url('recluvia/images/Wave.jpg') no-repeat center/cover;
    background-size: contain;
    opacity: 0.65; /* Makes the image blend with text */
    z-index: -1; /* Keeps it behind the text */
    background-size: cover;
    border-radius: 1%;
}

.hero p {
    font-weight: 450;
}
